*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
.add{
  padding: 8px 10px;
  background-color: orangered;
  outline: none;
  border: solid 2px #eee;
  cursor: progress;
  color: whitesmoke;
  border-radius: 3px;
}
.view{
  padding: 8px 10px;
  background-color:darkgreen;
  outline: none;
  border: solid 2px #eee;
  cursor: progress;
  color: whitesmoke;
  border-radius: 3px;
}
.loginform{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.payment{
  background-color: rgb(255, 251, 213);
  margin-top: 10%;
}
.aboutusclass{
 
  background: linear-gradient(45deg,skyblue,lightgray,lightyellow,lightpink,lightgray);

}
.textcolor{
  background: linear-gradient(360deg,white,#7f00ff,blue,lightpink);
  color: transparent;
  background-clip: text;
}
.blur{
  background-color:white;
  padding: 10px;
}
li{
  list-style: none;
}
.back-sec{
  background-color: whitesmoke;
  border-radius: 15px;
  border: solid 3px #eee;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
}
.img img{
  width:100%;
  border-radius: 10%;
}
.bluetext{
  background: linear-gradient(to right,#7f00ff,skyblue,#7f00ff);
  color: transparent;
  background-clip: text;
  
}
.name-sec{
  border: solid 3px #eee;
  padding: 10px;
  background-color: lightyellow;
  border-radius: 15px;
}
.bag{
  background-color:orange;
  padding: 9px;
  color: white;
  border-radius: 50%;
}
.namedesign{
  color: white;
  font-weight: 400;
  text-shadow:2px 2px 5px crimson;
  text-transform: uppercase;
}
.nav-btn{
  position: absolute;
  right: 0
}
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
  background-color: lightseagreen;
  color:white;
  border-left: double 2px lightgreen;
  }
.view-load{
  font-weight: 500;
  color: dodgerblue;
  text-shadow:2px 2px 5px crimson;
}
.details-content-border{
  border:double 4px #eee;
  padding: 10px;
  
}
.datailes-container{
  background-color:lightyellow;
  
}
.view-buttom{
  background-color:rgb(255, 209, 192);
  padding: 15px;
  border-radius: 3px;
  border: solid 2px #eee;
}
#root{
  background-color: rgb(246, 211, 147);
}
html{
  width: 100%;
}
.cards-item img{
  background-size: cover;
  background-position: center center;
  object-fit: contain;
  aspect-ratio: 1/1;
}

@media (max-width:767px) {
  .viewcard-page {
    width:100%;
    background-color:white;
  }
}
@media (max-width:575px) {
  .viewcard-secomd {
    width:50%;
    border-right: solid 3px #eee;
  }
}
.view-icon{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: lightpink;
  
}
.view-up,.view-up{
  border: none;
  outline: none;
  background-color: lightcoral;
  color: white;
  padding: 10px;
}
.quantity-show{
  font-size: 25px;
  color: white;
  text-shadow: 5px 5px 5px lightcoral;
}
.view-btn{
  border: none;
  outline: none;
  background-color: skyblue;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.nav-shop{
  color: orange;
  background-color: rgb(242, 242, 160);
  padding: 10px;
}